#root {
  
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(243, 228, 228);
  
}

.carousel{
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.carousel > .carousel-indicators {
  z-index: 0;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
